
body{
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0px;
    margin: 0px;

}
/* nav ul li{
    float: left;
}
nav ul li a:hover:not(.active){
    display: block; 
    background-color: #505050;
    height: 60px;
}
.active{
    background-color: #04AA6D;
}
.link{
    color: white;
}
.link:hover{
    color: purple;
}
*/
.aux{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
} 
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: 25px;
}
section{
    width: 100%;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}

nav ul{
    display: flex;

}
nav ul li a{
    display: block;
    margin-right: 30px;
    font-family: "Montserrat", sans-serif;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}
.textCont p:nth-child(1)
{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 22px;

}
.textCont p:nth-child(2){
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000;
    font-size: 60px;
    
}
.textCont p:nth-child(3){
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 30px;
    line-height: 30px;
}
.textCont{
    margin: 45px 0px 25px;
}
/* .textCont{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
} */

.image{
    height: 500px;
    width: 361px;
    object-fit: cover;
    position: fixed;
    bottom: 40px;
    
}



.contSobre{
    width: 80%;
    height: 330px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px  2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: auto;
    margin-top: 10%;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.contSobre img
{
    height: 250px;
}
.textSobre{
    width: 550px;
}

.contSobre p:nth-child(1){
    color: #403e3e;
    font-family: myarid pro;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;
}
.format{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contSobre p:nth-child(2)
{
    color: #3e3e3e;
    font-size: 13px;
    font-family: myria pro;
    font-weight: bold;
    line-height: 5 px;
}
.contSobre p:nth-child(3),
.contSobre p:nth-child(4),
.contSobre p:nth-child(5)
{
    color: #7e7d7d;
    font-size: 16px;
    font-family: calibri;
}
.textSobre ul li{
    display: inline;
    color: #7e7d7d;
    font-size: 16px;
    font-family: calibri;
}
.contato
{
    width: 100%;
    height: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.contato p{
    margin: 0;
    color: white;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 0px px 0px 30px;

}

footer{
    background-color: white;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8em;
}
footer p{
    margin: 0;
}
footer p:nth-child(1){
    margin: 0;
    font-weight: bold;
    color: #191919;
}
footer p:nth-child(2){
    margin: 0;
    color: #191919;
    width: 100%;
    text-align: center;
}
@media screen and (max-width: 768){
    section{
        width: 100%;
        padding: 0;
    }
    
}

@media screen and (max-width: 700px) {
    body{
        width: 100%;
    }
    .image{
        height: 300px;
        width: 202px;
    }
    .textCont p:nth-child(1)
    {
        font-size: 26,4px;
    }
    .textCont p:nth-child(2){
        margin: 0;
    }
    .textCont p:nth-child(3){
        font-size: 36;
    }

    .contSobre p:nth-child(1){
        color: #000;
        font-size: 27,6px;
    }
    .contSobre p:nth-child(2){
        color: #000;
        font-size: 15,6px;
    }
    .contSobre p:nth-child(3),.contSobre p:nth-child(4),.contSobre p:nth-child(5){
        color: #000;
        font-size: 19,2px;
    }
    .contSobre{
        align-self: baseline;
    }
    .contSobre img{
        display: none;
    }
    .textSobre ul li{
        display: inline;
        color: #070707;
        font-size: 16px;
        font-family: calibri;
    }
    footer{
        height: 60px;
    }
}